body {
    background-color: black;
}

.title {
    font-family: 'Roboto', sans-serif;
}

#safe-space {
    border: 1px solid #b6c5c8;
    margin-top: 1vh;
    background-color: black;
}

section {
    font-family: 'Roboto Mono', monospace;
}

#start-button {
    color: white;
}

#tommy-face {
    width: 50%;
    height: 100%;
}

#room-logo {
    width: 50%;
    height: 55%;
}

#main-content, #correct-answer, #wrong-answer, #outta-time, #game-over {
    background-color: #b6c5c8;
    opacity: 90%;
    height: auto;
}

.your-choices:hover {
    background-color: slategray;
}